body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background: hotpink;
}

th {
    background-color: black;
    color: #a3a3a3;
}

tr:nth-child(even) {
    background-color: firebrick;

}

table {
    width: 900px;
    border-collapse: collapse;
}

th {
    text-align: left;
}


h1 {
    margin-left: 20px;
}
